html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
    background-color: #f2f2f2;
    
  }

a {
      text-decoration: none;
      color: inherit;
}
img {
    max-width: 100%;
    height: auto;
}


.visually-hidden { 
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0 0;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
    position: relative;
}

.header {
    
    
    
}

.nav {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.857;
    height: 55px;
    background-color: white;
    /* display: flex;
    justify-content: center; */
    
    
}

.nav-site {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    /* justify-content: space-around;
    justify-self: stretch;
    align-items: center;
    flex: 1; */
    
    
}
.nav-site li {
    box-sizing: border-box;
    width: 300px;
    padding: 15px;
    text-align: center; 
}
.nav-site li:nth-child(-n+2) {
    text-align: left;
}
  
.nav-site li:nth-child(n+3) {
    text-align: right;
}
  
.nav-site li:first-child {
    padding-left: 70px;
}
  
.nav-site li:last-child {
    padding-right: 70px;
}
.nav-site a:hover {
    color: #81b3d2;
}

.nav-logo{
    width: 140px;
    height: 72px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: -1px;
    z-index: 1;
    
    
    
}



.meeting-logo {
    
    height: 509px;
    background-color: #81B3D2;
    background-image: url(../img/background-photo.jpg   );
 
    background-repeat: no-repeat;
    background-position: center -76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    padding-top: 78px;
    

  
    z-index: 0;
}

.meeting-logo::after {
    content: "";
    width: 100%;
    height: 59px;
    background: url(../img/intro-mask.svg) ;
    position: relative;
    bottom: -12px;
    
}
.logo-text {
    text-align: center;
    background-color: white;
    padding-top: 60px;
    padding-bottom: 51px;
    
    
    
}
.logo-text h2 {
    font-size: 21px;
    line-height: 1.238;
}
.logo-text p {
    color: #333333;
    font-size: 14px;
}

.advantages-1,
.advantages-2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #eeeeee;
}
.advantages-blue {
    background-color: #81b3d2;
    height: 256px;
    width: 400px;
    color: #ffffff;
    text-align: center;
    
}
.advantages-blue h3 {
    /* padding-bottom: 24px; */
    padding-top: 46px;
    margin-top: 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
}

.advantages-white {
    width: 400px;
    height: 330px;
    background-color: #ffffff;
    padding-top: 160px;
}
.advantages-beige {
    width: 400px;
    height: 256px;
    background-color: #f2f2f2
}
.advantages-beige h3 {
    padding-top: 46px;
    margin-top: 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
}
.advantages-white h3 {
    font-size: 21px;
    line-height: 21px;
}
.adv-house {
    background-image: url(../img/icon-1.svg);
    background-repeat: no-repeat;
    background-position: center 25%;
}
.adv-food {
    background-image: url(../img/icon-3.svg);
    background-repeat: no-repeat;
    background-position: center 25%;
}
.adv-souvenir {
    background-image: url(../img/icon-2.svg);
    background-repeat: no-repeat;
    background-position: center 25%;
}

.offer {
    text-align: center;
    font-size: 21px;
    line-height: 1.238;
    padding-bottom: 133px;
    background-color: #ffffff;
}
.offer p {
    color: #333333;
    font-size: 14px;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/map.jpg);
    background-size: cover;
    height: 473px;

    
}
.poppup {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
   
    text-align: center;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.857;
    font-weight: bold;
    background-color: #ffffff;
    width: 568px;
    height: 481px;
    margin-bottom: 164px;

}
.poppup-name {
    font-size: 21px;
    line-height: 1.238;
    background-color: #766357;
    color: #ffffff;
    height: 86px;
    display: flex;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    
    
}

.poppup-top {
    display: flex;
    flex-wrap: wrap;
    height: 110px;
    justify-content: space-between;
    margin-left: 55px;
    margin-top: 54px;
}
.poppup input {
    font-size: 14px;
    line-height: 1.857;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
    width: 356px;
    height: 38px;
    margin-left: 41px;
    display: inline-block;
    box-sizing: border-box;
    
}
.poppup-peoples {
    height: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-left: 55px;
}
.poppup-peoples input {
    width: 114px;
    display: inline-block;
    height: 38px;
    
}

.button {
    display: inline-block;
    font-family: "PT Sans", sans-serif;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.238;
    text-align: center;
    width: 468px;
    height: 58px;
    background-color: #81b3d2;
    color: #ffffff;
    border: none;
    margin-bottom: 56px;
    
   
}

.footer {
    background-color: #f9fbf6;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 121px;
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 123px;
    padding-right: 100px;
    padding-bottom: 34px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    
   
}
.footer-wrap {
    background-color: rgba(255, 255, 255, 0.9);
    /* position: absolute;
    bottom: 0; */
}
.hashtag {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4;
    
}
.links {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 200px;
}
.links li {
    position: relative;
    margin: 0;
    list-style-type: none;
}
.links-button {
    display: block;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    margin: 3px;
    margin-bottom: 5px;
    font-size: 0;
    line-height: 0;
}
.links-button::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.links-button:focus {
    background-color: #5496bd;
}
.links-button:hover {
    background-color: #669ec0;
}


.btn-twitter::before {
    content: url("../img/twitter.svg");
}
  
.btn-facebook::before {
    content: url("../img/fb-icon.svg");
}
  
.btn-youtube::before {
    content: url("../img/youtube.svg");
}

.btn-twitter:focus::before {
    opacity: .3;
}
.btn-facebook:focus::before {
    opacity: .3;
}
  
.btn-youtube:focus::before {
    opacity: .3;
}
.footer-logo {
    display: flex;
    justify-content: space-between;
    width: 196px;

}
.footer-logo p {
    padding-top: 6px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}
.footer-logo-academy {
    width: 115px;
    height: 41px;
    padding-top: 14px;
}

.footer-logo-academy path {
    fill: #000000;
}
  
.footer-logo-academy:hover path {
    fill: #81b3d2;
}
  
.footer-logo-academy:active path {
    fill: #bdbbbc;
}
/* стили второй страницы */
.filter-range {
    width: 330px;
	color: #ffffff;
	text-transform: uppercase;
	margin-left: 230px;
	margin-top: 27px;
}
  
.filter-range-title {
    margin-bottom: 11px;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
	padding-left: 4px;
}
  
.price-controls {
    position: relative;
	height: 36px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
	width: 320px;
}
.price-controls::after {
    content:"";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}
.price-controls label {
    display: inline-block;
	font-size: 14px;
	vertical-align: top;
	cursor: pointer;
	
}
  
.price-controls .min-price,
.price-controls .max-price {
    width: 148px;
	padding-left: 65px;
	line-height: 21px;
	padding-top: 3px;
}
  
.price-controls input {
    width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}
  
.range-controls {
    position: relative;
    margin-bottom: 32px;
 }
  
.range-controls .scale {
    height: 2px;
    width: 320px;
    background: rgba(255, 255, 255, 0.3);
}
  
.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}
  
.range-toggle {
    position: absolute;
	top: -8px;
	width: 20px;
	height: 20px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}
.range-toggle:active,
.range-toggle:focus {
	background: #ababab;
	transform: scale(1.2, 1.2);
	outline: none;
} 
.range-toggle:hover {
    background: #1c4f80;
    transform: scale(1.2, 1.2);
	outline: none;
}
.range-toggle-min {
    left: 0;
}
  
.range-toggle-max {
    left: 77%;
}
  
.btn-transparent {
    display: block;
	padding: 5px 30px;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
	margin-left: 86px;
}
  
.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}

/* мои стили */
.form-wrap {
	display: flex;
	min-height: 219px;
	margin: 0;
	padding: 0;
	background-color: #769abc;
	background: url(../img/filter-background.jpg) center 55% no-repeat;;
	
}
.infrastructure {
	width: 241px;
}
.infrastructure legend {
	color: #ffffff;
	font-size: 16px;
	line-height: 21px;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 27px;
}
.type-house {
	width: 288px;
}
.type-house legend {
	color: #ffffff;
	font-size: 16px;
	line-height: 21px;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 26px;
	padding-left: 3px;
}

.filter fieldset {
    border: none;
    margin: 0;
	padding: 0;
}
.filter {
	display: flex;
	margin-left: 72px;
	margin-right: 72px;
	width: 1056px;
}
.filter-range {
	width: 307px;
}
.filter-input-checkbox {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -7px;
	cursor: pointer;
	z-index: -10;
	opacity: 0;
}

.filter-input-checkbox:active + .label-infro,
.filter-input-checkbox:focus + .label-infro,
.filter-input-checkbox:focus + .label-type,
.filter-input-checkbox:active + .label-type {
	outline: 1px dotted #212121;
	outline: 5px auto -webkit-focus-ring-color;
} 
.input {
	margin-bottom: 22px;
	padding-left: 17px;
	display: flex;
}
.input label {
    position: relative;
	display: block;
    cursor: pointer;
    user-select: none;
	width: 105px;
	z-index: 1;
    color: #ffffff;
	line-height: 21px;
	font-weight: normal;
	
}
.input label:before {
	display: block;
	position: absolute;
	background: url("../img/checkbox-off.svg");
	content:"" ;
	left: -36px;
	top: 53%;
	width: 25px;
	height: 25px;
	margin-top: -12px;
	background-repeat: no-repeat;
}
.filter-input-checkbox:checked:disabled+label:after {
	display: block;
	position: absolute;
	background: url("../img/checkbox-on-disabled.svg");
	content:"" ;
	left: -36px;
	top: 50%;
	width: 25px;
	height: 25px;
	margin-top: -12px;
	background-repeat: no-repeat;
}


.filter-input-checkbox:checked+label:after {
	content:"" ;
	position: absolute;
	background: url("../img/checkbox-on.svg");
	left: -36px;
	top: 50%;
	width: 24px;
	height: 25px;
	margin-top: -12px;
	background-repeat: no-repeat;
}
.label-infro {
	padding-left: 4px;
}

.label-type {
	padding-left: 5px;
}
.type-house {
	width: 288px;
}

.scroll {
	width: 328px;
}
.sorting {
	display: flex;
	min-height: 86px;
	align-items: baseline;
	border-bottom: 1px solid #e5e5e5;
}
.sorting h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
    padding-top: 10px;
    margin-left: 73px;
}

.sorting p {
	font-size: 12px;
    line-height: 18px;
    margin-left: 47px;
}
.sorting-items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 293px;
    font-size: 12px;
    line-height: 18px;
}
.for-rating {
    margin-left: 1px;
	padding-right: 15px;
}
.for-type a,
.for-rating a {
	color: #000000;
	border-bottom: 1px dotted #81b3d2;
	opacity: 30%;
}

.for-type a:focus,
.for-rating a:focus,
.for-type a:hover,
.for-rating a:hover {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
	opacity: 100%;
}

.for-type a:active,
.for-rating a:active {
	color: #000000;
	opacity: 100%;
}

.for-prise a {
	color: #81b3d2;
}
.up-down {
	display: flex;
	list-style: none;
	justify-content: flex-end;
	width: 523px;
}
.type {
	display: flex;
	width: 400px;
	justify-content: space-between;
}
.sorting button {
	font-size: 12px;
	line-height: 18px;
	text-transform: none;
}

.up svg {
	fill: #cacaca;
}

.down svg {
	fill: #81b3d2;
}

.up svg:hover,
.up svg:focus {
	fill: black;
}

.up svg:active,
.down svg:active {
	fill: #81b3d2
}

.up {
	padding-right: 12px;
}
.checkbox-form {
	position: relative;
}
.checkbox-form-infrastructure {
	list-style: none;
	padding-left: 32px;
	padding-top: 7px;
	margin-top: 18px;
}

.checkbox-form-type {
	list-style: none;
	padding-left: 35px;
	padding-top: 7px;
	margin-top: 19px;
}

.type-list {
	width: 220px;
	margin-bottom: 25px;
	padding-left: 4px;
}
/* сетка отелей */
.main-hotels {
    background-color: #ffffff;
}
.hotel-card  {
    color: rgb(51, 51, 51);
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    min-height: 151px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #ffffff;
}
.hotel-card-img {
    padding-left: 72px;
    padding-top: 29px;
}
.hotel-card-text {
    display: flex;
    flex-wrap: wrap;
    width: 781px;
    
}
.hotel-card-text-inner {
    align-self: flex-end;
    
    
}
.hotel-card-title {
    font-family: "PT Sans", sans-serif;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    height: 22px;

}

  

.hotel-card-button {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    width: 110px;
    height: 27px;
    background-color: #81b3d2;
    border: none;

}
.hotel-card-button-submit {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    height: 27px;
    width: 142px;
    background-color: #766357;
    border: none;

}

.stars {

}

.stars p {
    background-color: #f2f2f2;
}